.mat-form-field + .mat-form-field {  
    margin-left: 8px;  
  }
  .black-border{
    border: 0px solid black;
  
  }
  main{
    width: 90%;
    margin: 3rem auto 0px;
  }
  p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    

  }
.q{
    
    margin-bottom: 10px;
    
 }

 .mat-expansion-panel-header{
  background-color: #a3161d40  !important;
  
}
.mat-panel-title{
  padding-top: 10px;
}