<div>
  <nav class="navbar sticky-top navbar-dark bg-dark h=100">
    <div class="container-fluid">
      <a class="navbar-brand nx-auto"   href="#">User Management System</a>
      <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:white ;"><i class="material-icons outlined" style="color:black ;"><span class="material-icons-outlined">
        person_add_alt
      </span></i> </button>
      
    </div>
  </nav>
    <!-- Button trigger modal -->
    
    
      
      <!-- Modal--> 
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: black ;">
              <h5 class="modal-title " id="exampleModalLabel" style="font-weight: bold; color: white; font-family:Arial, Helvetica, sans-serif  ; font-size: larger;"> Enter User Information</h5>
              <button type="button" class="btn-close-color-white" data-bs-dismiss="modal" aria-label="Close "></button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="onSubmit()" >
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="name" placeholder="Name" required [(ngModel)]="name">
                    </div>   
                </div><br>
                <div class="row">
                    <div class="col">
                        <h6 class="text-secondary fst-italic form-heading">Contact Details</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="email" class="form-control" name="email" placeholder="Email" required [(ngModel)]="Email">
                    </div>   
                    <div class="col">
                        <input type="text" class="form-control" name="phone" placeholder="Phone Number" pattern="[0-9]{10}" required [(ngModel)]="phone">
                    </div> 
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h6 class="text-secondary fst-italic form-heading">Address</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="address" placeholder="Address" required [(ngModel)]="address">
                    </div>   
                </div>
              </form>
            </div>
            <div class="modal-footer">
              
              <button class="btn btn-primary" (click)="onSubmit()" data-bs-dismiss="modal">Add</button>
            </div>
          </div>
        </div>
      </div>
</div>




<main class="black-border">
    <div class="users ">
      <div class="row mt-5">
        <ng-container *ngFor="let book of user1,let i =index">
        <mat-accordion multi>
          <div class="q">  
          <mat-expansion-panel> 
             
            <mat-expansion-panel-header>
              
                
                 
              <mat-panel-title>
                <div class="matPanelSceneSymbol"><i class="material-icons outlined"><span class="material-icons-outlined">
                  person
                  </span></i></div> 
                  {{book.name}}
              </mat-panel-title> 
              <mat-panel-description> Email:{{book.Email}}</mat-panel-description>
              
             
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col">
                <p>Name:{{book.name}}</p>
              </div>
              <div class="col">
                <p>Address:{{book.address}}</p>
              </div>

            </div>
            <div class="row">
              <div class="col">
                <p>Email:{{book.Email}}</p>
              </div>
              <div class="col">
                <p>Phone Number:{{book.Phone}}</p>
              </div>

            </div>
            <mat-action-row>
              <button mat-button color="primary"  (click)="delete(i)"><i class="material-icons outlined" style="color:black ;"><span class="material-icons-outlined">
                delete
                </span></i> </button>
            </mat-action-row>
              
            
          </mat-expansion-panel>  
        </div>
        </mat-accordion>
      </ng-container> 
      </div>
    </div>
  </main>


